:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #262626;
  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* colors */
  --c-electric-primary-100:#FFD700;
  --c-electric-primary-200:#ddb900;
  --c-electric-primary-300:#917800;
  --c-electric-accent-100:#00FFFF;
  --c-electric-accent-200:#00999b;
  --c-electric-text-100:#FFFFFF;
  --c-electric-text-200:#e0e0e0;
  --c-electric-bg-100:#1E1E1E;
  --c-electric-bg-200:#2d2d2d;
  --c-electric-bg-300:#454545;

  --c-tiktok-dark-primary-100:#FF2D55;
  --c-tiktok-dark-primary-200:#ff6b81;
  --c-tiktok-dark-primary-300:#ffd8e2;
  --c-tiktok-dark-accent-100:#8E8E93;
  --c-tiktok-dark-accent-200:#37373b;
  --c-tiktok-dark-text-100:#FFFFFF;
  --c-tiktok-dark-text-200:#e0e0e0;
  --c-tiktok-dark-bg-100:#1C1C1E;
  --c-tiktok-dark-bg-200:#2b2b2d;
  --c-tiktok-dark-bg-300:#434345;
    
  --c-tiktok-primary-100:#EE1D52;
  --c-tiktok-primary-200:#ff607e;
  --c-tiktok-primary-300:#ffcddf;
  --c-tiktok-accent-100:#FFC107;
  --c-tiktok-accent-200:#916400;
  --c-tiktok-text-100:#333333;
  --c-tiktok-text-200:#5c5c5c;
  --c-tiktok-bg-100:#F7F7F7;
  --c-tiktok-bg-200:#ededed;
  --c-tiktok-bg-300:#c4c4c4;
    
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app,
body,
html {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

li {
  list-style: none;
}

html.dark {
  color: #f6f6f6;
  background-color: #404040;
}

/* element plus */
.el-message {
  transform: translateY(+50%) translateX(-50%);
}

.dark .el-message {
  --el-color-success: #10b981;
  /* border */
  --el-color-success-light-8: #bbf7d022;
  --el-color-warning-light-8: #bbf7d022;
  --el-color-danger-light-8: #bbf7d022;
  /* background */
  --el-color-success-light-9: #262626;
  --el-color-warning-light-9: #262626;
  --el-color-danger-light-9: #262626;
}

/* collapse */
.el-collapse {
  --el-transition-duration: 100ms;
}

.el-collapse-item__header {
  height: 2rem;
  padding: 0px 8px;
}

.el-collapse-item__content {
  padding-bottom: 0;
}

.dark .el-collapse-item__header {
  background-color: #484848;
}
