:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app,
body,
html {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

li {
  list-style: none;
}

.dark {
  color: #f6f6f6;
  background-color: #2f2f2f;
}

.cm-editor .cm-content {
  font-family: "Fira Code", "Consolas", "Source Code Pro", monospace;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
}

.cm-editor .cm-gutterElement {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
}
